API_DOCKER_FILE=
FRONTEND_DOCKER_FILE=
DATABASE_URL=
OPENAI_API_KEY=
SOCKET_BASE_URL=
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=levels
MINIO_PUBLIC_BASE_URL=http://localhost:9000
